<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lessons and Activities</title>
    <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <h1 v-text="sitename"></h1>
        <button @click="showCheckout">
            {{cartItemCount}}
            Checkout
        </button>
        <div v-if="showSubject">
        <br>
        <img width="450" height="350" v-bind:src="subject.image">
        <h2 v-text="subject.title"></h2>
        <p v-text="subject.description"></p>
        <p id="test">Price: ${{subject.price}}</p>
        <button v-on:click="addItem" v-if="canAddToCart">Add To Cart</button>
        <button disabled="disabled" v-else>Add To Cart</button>
        </div>
        <div v-else>
            <h2>Checkout</h2>
            <p>
                <strong>First Name: </strong>
                <input v-model.trim="order.firstname">
            </p>
            <p>
                <strong>Last Name: </strong>
                <input v-model.trim="order.lastname">
            </p>
            <p><strong>Address: </strong>
                <input v-model="order.address">
            </p>
            <p><strong>City: </strong>
                <input v-model="order.city">
            </p>
            <p>
                <strong>State: </strong>
                <select v-model="order.state">
                    <option disabled value=""></option>
                    <option v-for="state in states" :value="state">{{state}}</option>
                </select>
            </p>
            <p><strong>Zip/Postal Code:</strong><input v-model="order.zip"></p>

            <p><input type="checkbox" id="gift" value="true" v-model="order.gift" v-bind:true-value="order.sendGift" v-bind:false-value="order.dontSendGift">
                <label for="gift">Ship As Gift</label>
            </p>
            <p>
                <input type="radio" id="home" value="Home" v-model="order.method">
                <label for="home">Home</label>
                <input type="radio" id="business" value="Business" v-model="order.method">
                <label for="business">Business</label>
            </p>
                
            <h2>Order Information</h2>
            <p>First Name: {{order.firstname}}</p>
            <p>Last Name: {{order.lastname}}</p>
            <p>Address: {{order.address}}</p>
            <p>City: {{order.city}}</p>
            <p>Send as Gift: {{order.gift}}</p>
            <p>Zip: {{order.zip}}</p>
            <p>State: {{order.state}}</p>
        </div>
    </div>
<script>
    let webstore = new Vue({
        el: '#app',
        data: {
            sitename: 'Lessons & Activities',
            showSubject: true,
            subject: {
                id: 123,
                title: "Mathematics",
                price: '22',
                description: "Get Mathematics classes from the best professor in Sharjah",
                image: 'mathematics.jpeg',
                availableInventory: 5
            },
            cart: [],
            order: {
                    firstname:"",
                    lastname:"",
                    address:"",
                    city:"",
                    zip:"",
                    state:"",
                    method:"Business",
                    sendGift:"Yes",
                    dontSendGift:"No"
                },
                states: {
                    AL: "Alabama",
                    AR: "Arizona",
                    CA: "California",
                    NV: "Nevada"
                }
        },
        methods:{
            addItem: function(){
                this.cart.push(this.subject.id);
            },
            showCheckout(){
                    this.showSubject = this.showSubject ? false : true
            }
        },
        computed: {
            cartItemCount: function(){
                    return this.cart.length || ''
            },
                canAddToCart: function(){
                    return this.subject.availableInventory > this.cartItemCount;
            }
        }
    });
</script>
</body>

</html>